In [16]:
import pandas as pd

In [32]:
dt= pd.read_excel(r"insurance_automobile.xlsx")

In [33]:
dt

,months_as_customer,age,policy_number,contract type,insured_sex,insured_occupation,insured_hobbies,incident_date,incident_type,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,faulty,bodily_injuries,police_report,vehicle_value,auto_market,auto_year,damage
0,328,48,521585,Tr,MALE,craft-repair,sleeping,2015-01-25,Single Vehicle Collision,Major Damage,5,1,0,1,yes,24710.318300,Saab,2004,14681.083639
1,228,42,342868,Tr,MALE,machine-op-inspct,reading,2015-01-21,Vehicle Theft,Minor Damage,8,1,0,0,yes,53034.261151,Mercedes,2007,9763.820015
2,134,29,687698,N,FEMALE,sales,board-games,2015-02-22,Multi-vehicle Collision,Minor Damage,7,3,0,2,yes,29277.455121,Dodge,2007,13765.433155
3,256,41,227811,Tr,FEMALE,armed-forces,board-games,2015-01-10,Single Vehicle Collision,Major Damage,5,1,0,1,yes,28027.563870,Chevrolet,2014,12931.717262
4,228,44,367455,Tr,MALE,sales,board-games,2015-02-17,Vehicle Theft,Minor Damage,20,1,1,0,yes,78603.299086,Accura,2009,9815.606928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,N,FEMALE,craft-repair,paintball,2015-02-22,Single Vehicle Collision,Minor Damage,20,1,1,0,yes,85346.731483,Honda,2006,10678.222062
996,285,41,186934,N,FEMALE,prof-specialty,sleeping,2015-01-24,Single Vehicle Collision,Major Damage,23,1,1,2,yes,88243.321832,Volkswagen,2015,15836.090094
997,130,34,918516,Tr,FEMALE,armed-forces,bungie-jumping,2015-01-23,Multi-vehicle Collision,Minor Damage,4,3,0,2,yes,37036.046740,Suburu,1996,8309.320648
998,458,62,533940,Tr,MALE,handlers-cleaners,base-jumping,2015-02-26,Single Vehicle Collision,Major Damage,2,1,1,0,yes,88822.088011,Audi,1998,16483.178700
999,456,60,556080,N,FEMALE,sales,kayaking,2015-02-26,Parked Car,Minor Damage,6,1,1,0,yes,81458.093812,Mercedes,2007,18341.459779

In [34]:
def calculate_annual_risk_pricing(dataframe):
    # Define conditions
    condition_tr_high = (dataframe['contract type'] == 'Tr') & (dataframe['vehicle_value'] > 50000)
    condition_tr_low = (dataframe['contract type'] == 'Tr') & (dataframe['vehicle_value'] <= 50000)
    condition_n = (dataframe['contract type'] == 'N')

    # Apply conditions and calculate the new column
    dataframe['annual_risk_pricing'] = 0  # Initialize the column with default values
    dataframe.loc[condition_tr_high, 'annual_risk_pricing'] = 1000
    dataframe.loc[condition_tr_low, 'annual_risk_pricing'] = 850
    dataframe.loc[condition_n, 'annual_risk_pricing'] = 365

    return dataframe

In [35]:
dt = calculate_annual_risk_pricing(dt)

In [36]:
dt["price_vehicle_new"] = dt["vehicle_value"] + 10000

In [39]:
def total_compensation(dataframe):
    # Define conditions
    case1 = (dataframe['contract type'] == 'N') & (dataframe['faulty'] == 1)
    case2 = (dataframe['contract type'] == 'N') & (dataframe['faulty'] == 0)
    case3 = (dataframe['contract type'] == 'Tr')

    # Apply conditions and calculate the new column
    dataframe['total_compensation'] = 0  # Initialize the column with default values
    dataframe.loc[case1, 'total_compensation'] = 0
    dataframe.loc[case2, 'total_compensation'] = (dataframe['damage'] * dataframe['vehicle_value']) / dataframe['price_vehicle_new']
    dataframe.loc[case3, 'total_compensation'] = (dataframe['damage'] * dataframe['vehicle_value']) / dataframe['price_vehicle_new']

    return dataframe

In [40]:
dt = total_compensation(dt)

In [54]:
import tkinter as tk
from tkinter import ttk
from ttkthemes import ThemedStyle

In [55]:
def calculate_annual_risk_pricing(contract_type, vehicle_value):
    if contract_type == 'Tr':
        return 1000 if vehicle_value > 50000 else 850
    elif contract_type == 'N':
        return 365
    else:
        return 0

def total_compensation(contract_type, faulty, damage, vehicle_value):
    price_vehicle_new = vehicle_value + 10000

    if contract_type == 'N':
        if faulty == 1:
            return 0
        else:
            return (damage * vehicle_value) / price_vehicle_new
    elif contract_type == 'Tr':
        return (damage * vehicle_value) / price_vehicle_new
    else:
        return 0

def update_results():
    contract_type = contract_type_var.get()
    vehicle_value = float(vehicle_value_entry.get())
    faulty = faulty_var.get()
    damage_value = damage_var.get()

    annual_risk_pricing = calculate_annual_risk_pricing(contract_type, vehicle_value)
    total_compensation_value = total_compensation(contract_type, faulty, damage_value, vehicle_value)

    annual_risk_label.config(text=f"Annual Risk Pricing: {annual_risk_pricing}")
    total_compensation_label.config(text=f"Total Compensation: {total_compensation_value:.2f} DT")

# Main window
window = tk.Tk()
window.title("Insurance Calculator")
window.geometry("400x300")

style = ThemedStyle(window)
style.set_theme("arc")

# Create and add widgets to the window
contract_type_label = ttk.Label(window, text="Contract Type:")
contract_type_var = tk.StringVar()
contract_type_combobox = ttk.Combobox(window, textvariable=contract_type_var, values=["Tr", "N"])
contract_type_label.grid(row=0, column=0, padx=10, pady=5)
contract_type_combobox.grid(row=0, column=1, padx=10, pady=5)

vehicle_value_label = ttk.Label(window, text="Vehicle Value:")
vehicle_value_entry = ttk.Entry(window)
vehicle_value_label.grid(row=1, column=0, padx=10, pady=5)
vehicle_value_entry.grid(row=1, column=1, padx=10, pady=5)

faulty_label = ttk.Label(window, text="Faulty (1 or 0):")
faulty_var = tk.IntVar()
faulty_entry = ttk.Entry(window, textvariable=faulty_var)
faulty_label.grid(row=2, column=0, padx=10, pady=5)
faulty_entry.grid(row=2, column=1, padx=10, pady=5)

damage_label = ttk.Label(window, text="Damage:")
damage_var = tk.DoubleVar()
damage_entry = ttk.Entry(window, textvariable=damage_var)
damage_label.grid(row=3, column=0, padx=10, pady=5)
damage_entry.grid(row=3, column=1, padx=10, pady=5)

calculate_button = ttk.Button(window, text="Calculate", command=update_results)
calculate_button.grid(row=4, column=0, columnspan=2, pady=10)

annual_risk_label = ttk.Label(window, text="Annual Risk Pricing: ")
annual_risk_label.grid(row=5, column=0, columnspan=2, pady=5)

total_compensation_label = ttk.Label(window, text="Total Compensation: ")
total_compensation_label.grid(row=6, column=0, columnspan=2, pady=5)

In [56]:
window.mainloop()